{% extends "base_generic.html" %}

{% block content %}
<section class="title">
            <h1>Вход</h1>
        </section>
        <section class="articles-wrapper">
            <div class="articles">
                <div class="four-articles">
                    {% if user.is_authenticated %}
                    <article>
                        <div class="article-inner">
                            <div class="article-text">
                                <h3>Вы уже вошли.</h3>
                                {% else %}
                                <div class="calculator-form">
                                    <form action="" method="post" enctype="multipart/form-data" class="calculator-form-inner">
                                    {% csrf_token %}
                                    <p>{{ form.username.label_tag }}</p>
                                      <p>{{ form.username }}</p>
                                      <p>{{ form.password.label_tag }}</p>
                                      <p>{{ form.password }}</p>
                                    <input type="submit" value="ВОЙТИ" class="button"/>
                                </form>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </article>
                </div>
            </div>
        </section>
{% endblock %}