{% extends "base_generic.html" %}

{% block content %}

{% if user.is_authenticated %}
<section class="title">
            <h1>Ваш профиль</h1>
        </section>
        <section class="articles-wrapper">
            <div class="articles">
                {% if user.avatar %}
<img src="{{ user.avatar.url }}" alt="Аватар пользователя">
    {% else %}
    <h3>Как вы смогли без аватарки здесь зарегистрироваться???</h3>
    {% endif %}
                <div class="four-articles">
                    {% if posts %}
                    <h3>Ваши посты</h3>
                    {% for post in posts %}
                    <article>
                        <div class="article-inner">
                            <div class="article-text">
                                <p>{{ post.post_text }}</p>
                                <p>Дата создания: {{ post.pub_date }}</p>
                            </div>
                            <div class="article-buttons">
                                <a href="#" class="button">ПРОКОММЕНТИРОВАТЬ</a>
                                <form>
                                    <div class="favourite">
                                        <input class="fav-input" type="checkbox" id="fav1" checked>
                                        <label class="fav-label" for="fav1">
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                            {% else %}
                             <p>Нет постов :(</p>
                            {% endif %}
                </div>
            </div>
        </section>
{% else %}
<section class="title">
    <h3>Пожалуйста, войдите в аккаунт.</h3>
</section>
{% endif %}
{% endblock %}