@font-face {
    font-family: 'Montserrat Medium';
    src: url('fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('fonts/Montserrat-SemiBold.ttf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 15pt;
}
main {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
a {
    text-decoration: none;
}
.header-wrapper {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4em;
    padding: 1em 0;
}
.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}
.logo {
    display: flex;
    column-gap: 0.8em;
    font-family: 'Montserrat Bold', sans-serif;
    align-items: center;
    padding-right: 1em;
}
.logo img {
    max-width: 25%;
}
.logo-wrapper {
    display: flex;
    flex-direction: column;
    color: #298A91;
}
.logo-wrapper h1 {
    font-size: 30pt;
}
.logo-wrapper h3 {
    font-size: 13pt;
    font-weight: normal;
}
.header-nav {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}
.header-nav a, .like-link {
    font-family: 'Montserrat Bold', sans-serif;
    color: #0E4145;
    font-size: 12pt;
}
.search {
    display: flex;
    align-items: center;
    border: 2px solid #298A91;
    border-radius: 10px;
}
.search input {
    font-family: 'Montserrat Medium', sans-serif;
    color: #0E4145;
    border: none;
    max-width: 10em;
    height: 2.5em;
    background: none;
}
.search input::placeholder {
    color: #298A91;
}
.search button {
    background: none;
    border: none;
    padding: 0.5em;
    height: 2.5em;
}
.search img {
    width: 80%;
}
footer {
    background: #298A91;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4em;
    padding: 1em 0;
}
.footer-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.footer-wrapper .logo-wrapper {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    gap: 1em;
    flex-wrap: wrap;
}
.footer-nav {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    gap: 2em;
    flex-wrap: wrap;
}

.footer-nav a, .like-link-f {
    font-family: 'Montserrat Bold', sans-serif;
    color: #fff;
    font-size: 12pt;
}
.button {
    color: #fff;
    font-size: 15pt;
    font-family: 'Montserrat Bold', sans-serif;
    background-color: #F87433;
    border: 1px solid #F87433;
    border-radius: 0.8em;
    display: flex;
    padding: 0.8em;
    letter-spacing: 0.1em;
    justify-content: center;
    width: 100%;
}
.title {
    color:#0E4145;
    justify-content: center;
    font-size: 20pt;
    font-family: 'Montserrat SemiBold', sans-serif;
    display: flex;
    min-height: 6em;
    align-items: center;
    background-color: #a8e4ed;
}
.articles-wrapper {
    min-height: 50em;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}
.articles {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}
article {
align-items: center;
}
width: 100%;
    border-radius: 0.8em;
}
.sort {
    display: flex;
    align-items: center;
    column-gap: 1em;
    color: #0E4145;
}
.sort h3, .sort div {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 19pt;
}
.sort div {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    color: #F87433;
}
.four-articles {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3em;
    flex-wrap: wrap;
}
.four-articles article {
    display: flex;
    column-gap: 2em;
    border-radius: 0.8em;
}
.four-articles img {
    max-width: 50%;
}
.article-inner {
    display: flex;
    flex-direction: column;
    padding: 1em;
    row-gap: 2em;
}
.article-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.article-text {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    color: #0E4145;
}
.article-text h3 {
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 18pt;
}
.favourite {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fav-input {
  appearance: none;
  position: relative;
  background-image: url('../media/favourite.svg');
  width: 3.5em;
  height: 3.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.fav-input::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-image: url('../media/favourite-checked.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.fav-input:checked::after {
  width: 3.5em;
  height: 3.5em;
}
.like-link {
  color: #F87433;
}
.calculator-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20em;
    padding: 2em 0;
    width: 40%;
    background-color: #a8e4ed;
    border-radius: 0.8em;
}
.calculator-form-inner{
    display: flex;
    width: 80%;
    flex-direction: column;
    row-gap: 1.2em;
}
.calculator-form-inner label {
    align-self: flex-start;
}
.calculator-form input[type="text"],.calculator-form input[type="file"], .calculator-form input[type="password"] {
    padding: 1.5em 1em;
    width: 100%;
    border-radius: 0.8em;
    border: none;
}
.prof-img {
max-width: 25%;
border-radius: 0.8em;
align-self: center;
}
.article-text {
align-items: center;
}
.pagination {
align-self: center;
display: flex;
align-items: center;
justify-content: center;
}
.pagination-list {
display: flex;
column-gap: 1em;
font-weight: bold;
font-size: 20pt;
color: #F87433;
}
.pagination-list a {
color: #0E4145;
}
.line {
border-radius: 0.8em;
width: 100%;
height: 0.5em;
background-color: #a8e4ed;
}
#conf, #conff {
width: 20em;
padding: 5em;
align-items: center;
justify-content: center;
}
.another {
width: 100%;
}
.lele {
display: flex;
flex-direction: column;
color:#0E4145;
}
.lele a {
font-weight: bold;
color: #F87433;
}
.article-buttons {
row-gap: 1em;
}
.change {
color: #F87433;
}